body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

.buttons div {
    width: 150px;
    height: 40px;
    background-color: rgb(199, 122, 122);
    color: rgb(17, 15, 15);
    font-size: larger;
    border-radius: 10px;
    /* margin-left: 50px; */
    text-align: center;
}